<%= form_with model: @reply, :url => '/replies', :method => :post do |f| %>
    <% if @reply.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>
  
        <ul>
          <% @reply.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if current_user %>
      <div class="field">
        <%= f.label "reply as" %> <%= current_user.email %><br>
        <%= f.text_area :message, :placeholder => "Add a reply" %>
      </div>
    <% else %>
        <%= link_to 'Sign In', new_user_session_path %> <%= " to leave a reply" %>
    <% end %>
    <% if current_user %>
      <%= f.hidden_field :link_id, :value => @link.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :parent_id, :value => @comment.id %>
    <% end %>
    <div class="actions">
    <%= f.submit %>
    </div>    
  <% end %>
  