<img src="<%= "#{@user.avatar.url}" %>" class="img-thumbnail rounded" style="width: 100px"></img><br>

<h1> <%= "#{@user.username}" %> </h1>
<h5>
    <%= "Karma: #{Vote.where(:up => true, :user_id => @user.id).count - Vote.where(:up => false, :user_id => @user.id).count}" %>
</h5>
<h5>
    <%= "Posts: #{@postCount}" %>
</h5>
<h5>
    <%= "Comments: #{@commentCount}" %>
</h5>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @links %>
    </div>
    <%= will_paginate @links, :container => false %>
</div>

<ul class="list-group">
  <% @user.links.each do |link| %>
    <%= render 'link', link: link %>
  <% end %>
</ul>

