<h2 style="background-color: #FFFFFF; padding: 10px; border: 3px solid gray; border-style: groove">Explore Posts</h2>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @links %>
    </div>
    <%= will_paginate @links, :container => false %>
</div>

<%= link_to "Add a link", new_link_path %>

<%= render 'links' %>

<%= link_to "Add a link", new_link_path %>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @links %>
    </div>
    <%= will_paginate @links, :container => false %>
</div>