<h2 style="background-color: #FFFFFF; padding: 10px; border: 2px solid #888">Explore Posts</h2>

<a class="btn btn-primary" href="links/new" role="button">Add a Link</a>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @links %>
    </div>
    <%= will_paginate @links, :container => false %>
</div>

<%= render 'links' %>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @links %>
    </div>
    <%= will_paginate @links, :container => false %>
</div>

<a class="btn btn-primary" href="links/new" role="button">Add a Link</a>
