<div class="media entry">
  <div class="media-body">
    <h5 class="mt-0" style="font-size: 25px"><%= @link.title %></h5>
    <div style="font-size: 13px"><%= link_to @link.url, @link.url %></div>
    <div style="color: rgb(26, 26, 27)"><%= @link.body %></div>
  </div>
</div>

<%= form_with model: @comment do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user %>
    <div class="field">
      <%= f.label "Comment as" %> <%= current_user.email %><br>
      <%= f.text_area :message, :placeholder => "Add a comment" %>
    </div>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path %> <%= " to leave a comment" %>
  <% end %>
  <% if current_user %>
    <%= f.hidden_field :link_id, :value => @link.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>
  <div class="actions">
  <%= f.submit %>
  </div>    
<% end %>

<h2>Comments:<h2>
<div>
  <ul class="list-group">
    <% @link.comments.each do |comment| %>
      <li class="list-group-item" style="margin-bottom: 20px;"> 
        <div>
          <span style="background-color:#EDEFF1;color:#1A1A1B;font-size:15px"><%= User.find(comment.user_id).email %></span>      
        </div>
        <div>
          <span style="color:#1A1A1B;font-size: 20px"><%= comment.message %></span>
        </div>

        Votes: <%= comment.comment_votes.where(:up => true).count - comment.comment_votes.where(:up => false).count %> <br>

        <div>
          <% if current_user && current_user.comment_votes.where(:comment_id => comment.id, :up => true).present? %>
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          <% elsif current_user %>
            <%= link_to comment_votes_path(:comment_vote => {:comment_id => comment.id, :up => true, :user_id => current_user.id}), :method => :post do %>
              <i class="fa fa-arrow-up" aria-hidden="true"></i>
              <% end %>
          <% else %>
          <% end %>

          <% if current_user && current_user.comment_votes.where(:comment_id => comment.id, :up => false).present? %>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          <% elsif current_user %>
            <%= link_to comment_votes_path(:comment_vote => {:comment_id => comment.id, :up => false, :user_id => current_user.id}), :method => :post do %>
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
              <% end %>
          <% else %>
          <% end %>
        </div>

      </li>
    <% end %>
  </ul>
</div>

