<div class="media entry">
  <div class="media-body">
    <div>
      <% @username = User.find(@link.user_id).username %>
      <span style="background-color:#EDEFF1;color:#1A1A1B;font-size:13px">Posted by <%= link_to "#{@username}", user_path(@link.user_id) %></span>      
    </div>
    <h5 class="mt-0" style="font-size: 25px"><%= @link.title %></h5>
    <div style="font-size: 13px"><%= link_to @link.url, @link.url %></div>    
    <div style="color: rgb(26, 26, 27)"><%= @link.body %></div>
  </div>
</div>

<%= render 'commentform' %>

<h2>Comments:<h2>
<div>
  <%= render 'comments', link: @link %>
</div>