<li class="list-group-item" style="margin-bottom: 20px;"> 
  <div>
    <% @username = User.find(comment.user_id).username %>
    <span style="background-color:#EDEFF1;color:#1A1A1B;font-size:13px"><%= link_to "#{@username}", user_path(comment.user_id) %></span>      
    
    <span style="position: absolute; top: 10px; right: 10px;">
    <% if current_user && current_user.id == comment.user_id %>
      <%= link_to comment_path(:id => comment.id), :method => :delete, data: {confirm: "Are you sure?"} do %>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="#DC143C	" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
        </svg>  
      <% end %>
    <% end %>
    </span>    
  </div>
  <div>
    <span style="color:#1A1A1B;font-size: 15px"><%= comment.message %></span>
  </div>

  <div>
    <% if current_user %>
      <% if current_user.comment_votes.where(:comment_id => comment.id, :up => true).present? %>
        <span style="font-size: 1.0rem;">
          <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </span>
      <% else %>
        <%= link_to comment_votes_path(:comment_vote => {:comment_id => comment.id, :up => true, :user_id => current_user.id}), :method => :post do %>
          <span style="font-size: 1.0rem;">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </span>
        <% end %>
      <% end %>

       <span class="votes-count"><%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %></span>
      
       <% if current_user.comment_votes.where(:comment_id => comment.id, :up => false).present? %>
        <span style="font-size: 1.0rem;">
          <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </span>
      <% else %>
        <%= link_to comment_votes_path(:comment_vote => {:comment_id => comment.id, :up => false, :user_id => current_user.id}), :method => :post do %>
          <span style="font-size: 1.0rem;">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </span>
        <% end %>
    <% end %>

    <% else %>
      <span style="font-size: 1.0rem;">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
        <span class="votes-count"><%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %></span>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </span>
    <% end %>
  </div>

    <% if current_user %>
      <span style="font-size: 15px;"><%= link_to "Reply", new_reply_path(:comment => comment, :link => @link) %></span>

      <% else %>
      <span style="font-size: 15px;"><%= link_to 'Sign In', new_user_session_path %> <%= " to reply" %></span>   
    <% end %> 
</li>


<% if Comment.where(parent_id: comment.id).exists? %>
  <div>
      <% Comment.where(parent_id: comment.id).each do |comment| %>  
        <div style="margin-left: 30px">
        <%= render 'comment', link: @link, comment: comment %>
        </div>
      <% end %>
  </div>        
<% end %>
