<h2>r/<%= "#{@subreddit.name}" %></h2>



<% if current_user && current_user.subreddits.where(:id => @subreddit.id).count == 0 %>
  <%= form_with(url: subscriptions_path, model: @subreddit, local: true, method: 'post') do |f| %>
    <% if @subreddit.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subreddit.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
          <% @subreddit.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :id, :value => @subreddit.id %>
    <div class="actions form-group col-sm-6" style="margin-left: -16px">
      <button class="btn btn-primary" type="submit">Subscribe</button>
    </div> 
  <% end %>

<% elsif current_user %>
    <%= link_to subscription_path(:subreddit_id => @subreddit.id), :method => :delete do %>
      <div class="actions form-group col-sm-6" style="margin-left: -16px">
        <button class="btn btn-primary" type="submit">Unsubscribe</button>
      </div>
    <% end %>
<% else %>
  <%= link_to 'Sign In', new_user_session_path %> <%= " to subscribe" %>
<% end %>





<a class="btn btn-primary" href="/links/new" role="button">Add a Link</a>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @links %>
    </div>
    <%= will_paginate @links, :container => false %>
</div>
<% @subreddit.links.each do |link| %>
    <%= render 'link', link: link %>
<% end %>
