<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-WOdSzz11/3cpqOdrm89LBL2UPwEU9EhbDtMy2OciEhs='">



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag "application", 'data-turbolinks-track': :reload, nonce: true %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">


  </head>
  <body class="container" style="background-color: #D3D3D3">
    <header class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Reddit On Rails</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <%# if user is logged in, show log out link %>
            <% if current_user.present? %>
              <li class="nav-item active" style="margin-right: 10px">
                <%= link_to 'My Profile', user_path(current_user.id), :method => :get %>
              </li>
              <li class="nav-item active" style="margin-right: 10px">
                <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
              </li>

              <li class="nav-item active" style="margin-right: 10px">
                <%= link_to 'Settings', edit_user_registration_path(current_user) %>
              </li>
            <%# if user is not logged in, show signup and login links %>
            <% else %>
              <li class="nav-item active" style="margin-right: 10px">
                <%= link_to 'Sign In', new_user_session_path %>
              </li>
              <li class="nav-item active" style="margin-right: 10px">
                <%= link_to 'Register Now!', new_user_registration_path %>
              </li>
            <% end %>
              <%= link_to 'Explore Subreddits', subreddits_path %>
          </ul>
          <%= form_with(url: search_index_path, method: "get", local: true) do %>
            <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search") %>
          <% end %>
        </div>
      </nav>
    </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
  </body>

</html>


