<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-WOdSzz11/3cpqOdrm89LBL2UPwEU9EhbDtMy2OciEhs='">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>    
    
    <%= javascript_include_tag "application", 'data-turbolinks-track': :reload, nonce: true %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
  </head>

  <body class="container" style="background-color: #D3D3D3">
    <header class="container">
      <%= render 'navbar' %>
    </header>

    <p class="notice" style="margin: 0"><%= notice %></p>
    <p class="alert" style="margin: 0"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>


